								<div class="panel panel-default gallery-item-panel">
									<div class="panel-body">
										<div class = "col-xs-5">
												<h3>{{title}}</h3>
												<div class="post-item-time-display">Posted at {{time}}</div>
										</div>

										<div class = "col-xs-7">
												<img src="{{imageURL}}" class="img-responsive"> 
										</div>

										<div class = "col-xs-12">
											<p>{{description}}</p>
											<!-- fake hyperlink, actually redirect through the click listener -->
											
										</div>
									</div>
									<div class="panel-footer">
										<i>For more information, contact <a href="#" class = "author-of-post" author="{{author}}">{{author}}</a>.</i>
									</div>
								</div>