<!doctype html>

<html>
<head>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">

	<title>Seeker.</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="contain">
		<div class="navbar">
			<div class="nav-link"><a href="/about">About</a></div>
			<div class="nav-link">Found</div>
			<div class="nav-link"><a href="/lost">Lost</a></div>
			<div class="nav-link"><a href="/">Home</a></div>
			<div class="navbar-brand"><img src="http://i57.tinypic.com/wbf4nl.jpg"></div>
		</div>

		<div class="title">
			<div class="buttons">
				<a class="add-post" href="/post">Create Post [+]</a>
			</div>

			{{#each posts}}
				<div class="post">
					<div class="post-images">
						<img src="{{imageURL}}" class="img-responsive">
					</div>

					<h3>{{title}}</h3>
					<h4>Posted {{date}} at {{time}}</h4>

					<p>{{description}}</p>

					<i>For more information, contact <a href="/userprofile">{{author}}</a>.</i>
				</div>
			{{/each}}
		</div>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
</body>
</html>
