<!doctype html>

<html>
<head>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">

	<title>Seeker.</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container-fluid">




		<div class="row navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class="navbar-brand col-sm-3"><img src="http://i57.tinypic.com/wbf4nl.jpg"><a href="#login " data-toggle="modal">Login</a></div>

				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav ">
						<li><a href="/">Home</a></li>
						<li><a href="/found">Found</a></li>
						<li class = "active"><a href="/lost">Lost</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>


				<!-- <div class = "nav nav-pills login-icon "><a href="#login " data-toggle="modal">Login</a></div>
				<!-- <p class = "col-lg-2" >test</p> -->

			</div>
		</div> 
	</div>

<!-- 		<div class="container">
			<div class="buttons">
				<a class="add-post" href="/post">Create Post [+]</a>
			</div>
		</div> -->


	<div class="container">
		<div class = "row losing-items">
			{{#each posts}}
				<div class = "col-md-3">
			<!-- <div class="post"> -->
				<!-- <div class="post-images"> -->

					<!-- <img src="{{imageURL}}" class="img-responsive"> -->
					<!-- </div> -->
					<img src="{{imageURL}}" class="img-responsive"> 

					<h3>{{title}}</h3>
					<h4>Posted {{date}} at {{time}}</h4>

					<p>{{description}}</p>

					<i>For more information, contact <a href="/userprofile">{{author}}</a>.</i>
				</div>
			{{/each}}
		</div>
	</div>


	<div class = "modal fade" id = "login" role = "dialog">
		<div class = "modal-dialog">
			<div class = "modal-content">
				<form class = "form-horizontal">
					<div class = "modal-header">
						<h4>Welcome to Seeker!</h4>
					</div>


					<div class = "modal-body">

						<div class = "form-group">

							<label for = "login-name" class = "col-lg-2 control-label">Username:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "login-name" placeholder = "Phone,email or username">
							</div>
						</div>

						<div class = "form-group">

							<label for = "login-password" class = "col-lg-2 control-label">Password:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "login-password" placeholder = "Password">
							</div>
						</div>

					</div>


					<div class = "modal-footer">
						<a class = "btn btn-success pull-left" type = "submit" data-dismiss = "modal" href="#sign-up" data-toggle="modal">Sign up now</a>
						<a class = "btn btn-default" data-dismiss = "modal">Close</a>
						<a class = "btn btn-primary" type = "submit">Login</a>
					</div>

				</form>


			</div>
		</div>
	</div>


	<div class = "modal fade" id = "sign-up" role = "dialog">
		<div class = "modal-dialog">
			<div class = "modal-content">
				<form class = "form-horizontal">
					<div class = "modal-header">
						<h4>Welcome to Seeker!</h4>
					</div>


					<div class = "modal-body">

						<div class = "form-group">

							<label for = "sign-up-name" class = "col-lg-2 control-label">Username:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "sign-up-name" placeholder = "username">
							</div>
						</div>

						<div class = "form-group">

							<label for = "sign-up-email" class = "col-lg-2 control-label">Email:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "sign-up-email" placeholder = "you@example.com">
							</div>
						</div>



						<div class = "form-group">

							<label for = "sign-up-password" class = "col-lg-2 control-label">Password:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "sign-up-password" placeholder = "Password">
							</div>
						</div>

						<div class = "form-group">

							<label for = "sign-up-password-confirm" class = "col-lg-2 control-label">Confirm Password:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "sign-up-password-confirm" placeholder = "Confirm Password">
							</div>
						</div>

					</div>


					<div class = "modal-footer">
						<a class = "btn btn-default" data-dismiss = "modal">Close</a>
						<a class = "btn btn-primary" type = "submit">Creat Account</a>
					</div>

				</form>


			</div>
		</div>
	</div>

<!-- 	<div class = "container">

	</div> -->

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
</body>
</html>
